<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-search fa-6x"></i>
    <h1 class="display-3">Email Verifier</h1>
<% console.log(newt) %>
<% if(newt=='Invalid') %>
<% { %>
  <% console.log(newt) %>
<% } %>
    <% foundornot.forEach(function(user){ %>
    <p class="secret-text"><%=user%> email address</p>
  <% }) %>

    <hr>

    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Validate Email Address</a>
  </div>
</div>

<%- include('partials/footer') %>
